create database funcionarios
GO
use funcionarios
go
/****** Object:  Table [dbo].[setores]    Script Date: 04/20/2012 20:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[setores](
	[setor_id] [int] NOT NULL,
	[setor_nome] [varchar](20) NULL,

PRIMARY KEY CLUSTERED 
(
	[setor_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[setores] ([setor_id], [setor_nome]) VALUES (1, N'Faturamento')
INSERT [dbo].[setores] ([setor_id], [setor_nome]) VALUES (2, N'Contabilidade')
INSERT [dbo].[setores] ([setor_id], [setor_nome]) VALUES (3, N'RH')
/****** Object:  Table [dbo].[funcionarios]    Script Date: 04/20/2012 20:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[funcionarios](
	[func_id] [int] NOT NULL,
	[func_nome] [varchar](30) NULL,
	[gerente_id] [int] NULL,
	[setor_id] [int] NULL,
	[func_salario] [numeric](18, 2) NULL,
	[func_dataNasc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[func_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[funcionarios] ([func_id], [func_nome], [gerente_id], [setor_id], [func_salario], [func_dataNasc]) VALUES (1, N'Maria', NULL, 1, CAST(5000.00 AS Numeric(18, 2)), CAST(0x00006ABD00000000 AS DateTime))
INSERT [dbo].[funcionarios] ([func_id], [func_nome], [gerente_id], [setor_id], [func_salario], [func_dataNasc]) VALUES (2, N'Ana', NULL, 1, CAST(4780.00 AS Numeric(18, 2)), CAST(0x0000660500000000 AS DateTime))
INSERT [dbo].[funcionarios] ([func_id], [func_nome], [gerente_id], [setor_id], [func_salario], [func_dataNasc]) VALUES (3, N'Carla', NULL, 1, CAST(7000.00 AS Numeric(18, 2)), CAST(0x00006AAE00000000 AS DateTime))

